<!doctype html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ng-jsgrid - Custom Grid Field Scenario</title>
    <link rel="stylesheet" type="text/css" href="demos.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../external/jsgrid/jsgrid-1.4.1.css" />
    <link rel="stylesheet" type="text/css" href="../external/jsgrid/jsgrid-theme-1.4.1.css" />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .sort-panel {
            padding: 10px;
            margin: 10px 0;
            background: #fcfcfc;
            border: 1px solid #e9e9e9;
            display: inline-block;
        }
    </style>

    <script src="../external/jquery/jquery-1.11.2.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

    <script src="../external/jsgrid/jsgrid-1.5.0.js"></script>
    <script src="../src/ng-jsgrid.core.js"></script>

    <script src="db.js"></script>

    <script>
        var app = angular.module("app", ["ngAnimate", "ui.bootstrap", "ngjsgrid"]);

        app.controller("MainCtrl", ["$scope", "jsGrid", "$compile", function($scope, jsGrid, $compile) {

            var createDatePickerModel = function() {
                return {
                    opened: false,
                    value: new Date(),
                    toggle: function() {
                        this.opened = !this.opened;
                    }
                };
            };

            $scope.insertDatepicker = createDatePickerModel();
            $scope.editDatepicker = createDatePickerModel();

            var MyDateField = function(config) {
                jsGrid.Field.call(this, config);
            };

            MyDateField.prototype = new jsGrid.Field({
                sorter: function(date1, date2) {
                    return new Date(date1) - new Date(date2);
                },

                itemTemplate: function(value) {
                    return new Date(value).toDateString();
                },

                insertTemplate: function() {
                    $scope.insertDatepicker.value = new Date();
                    return "<input uib-datepicker-popup='dd-MMMM-yyyy' popup-placement='bottom' ng-model='insertDatepicker.value' is-open='insertDatepicker.opened' ng-click='insertDatepicker.toggle()' />";
                },

                editTemplate: function(value) {
                    $scope.editDatepicker.value = new Date(value);
                    return "<input uib-datepicker-popup='dd-MMMM-yyyy' popup-placement='bottom' ng-model='editDatepicker.value' is-open='editDatepicker.opened' ng-click='editDatepicker.toggle()' />";
                },

                insertValue: function() {
                    return $scope.insertDatepicker.value;
                },

                editValue: function() {
                    return $scope.editDatepicker.value;
                }
            });

            jsGrid.fields.myDateField = MyDateField;

            $scope.gridConfig = {
                height: "70%",
                width: "100%",
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                fields: [
                    { name: "Account", width: 150, align: "center" },
                    { name: "Name", type: "text" },
                    { name: "RegisterDate", type: "myDateField", width: 100, align: "center" },
                    { type: "control", editButton: false, modeSwitchButton: false }
                ],
                data: db.users
            };
        }]);
    </script>
</head>
<body ng-controller="MainCtrl as ctrl">
    <h1>Custom Grid DateField</h1>
    <div ng-jsgrid="gridConfig"></div>
</body>
</html>